body {
  background: url(img/triangle-mosaic.png) repeat 0 0;
}

h1 {
  color: black;
  font-family: 'Droid Serif', 'Georgia', serif;
  text-shadow: 1px 1px 1px #ccc;
}

h3 {
  color: black;
  font-family: 'Droid Sans', 'Helvetica', sans-serif;
}

p {
  color: black;
  font-family: 'Droid Sans', 'Helvetica', sans-serif;
}

input {
  text-align : right;
  font-size: 16px;
  font-family: 'Droid Sans', 'Helvetica', sans-serif;
  margin-left: 2px;
  margin-right: 2px;
}

select{
  font-family: 'Droid Sans', 'Helvetica', sans-serif;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-box {
  flex: 1;
  padding:25px;
  border-style: solid;
  border-width: 1px;
  align-items: center;
  max-width: 360px;
  margin: 2px;
  align-items: center;
  box-shadow: 0 0 0.5em 0.5em #ccc;
}

.button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

.element_box{
  border: 1px solid;
}
